*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Banny Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Round'), url('../fonts/Banny-Round.woff') format('woff');
}

@font-face {
    font-family: 'Banny Light Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Light Round'), url('../fonts/Banny-LightRound.woff') format('woff');
}

@font-face {
    font-family: 'Banny Bold Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Bold Round'), url('../fonts/Banny-BoldRound.woff') format('woff');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Open Sans, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.nav {
    height: 100px;
}

.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    width: 133px;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a {
    color: white;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.menu-item a:hover {
    font-size: 14px;
    transition: .2s;
}

.menu-item a:not(:hover) {
    transition: .8s;
}

.header {
    background-image: url("../img/1_header-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-container {
    height: 100vh;
}

.header::before {
    content: "";
    width: 150px;
    height: 150px;
    background: url("../img/1.1_Vector.png") center center no-repeat;
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
}

.header__maincontent--title {
    height: 250px;
    margin-top: 260px;
}

.hungry-title {
    position: relative;
    height: 135px;
    font-family: 'Banny Bold Round';
    font-size: 96px;
    line-height: 1;
    color: white;
    text-align: center;
    margin: 0;
}

.hungry-title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5.11px;
    border-radius: 5px;
    background: #E8C300;
    margin: auto;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
}

.restaurant-span {
    display: block;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.5em;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}

.header__maincontent--time {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
    bottom: 0;
    color: white;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    padding-right: 81px;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
}

.header__maincontent--social {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    bottom: 0;
    right: 79px;
}

.header__maincontent--social a+a {
    padding-top: 20px;
}

.header__maincontent--social a:hover {
    transform: scale(1.1);
    transition: .2s;
}

.header__maincontent--social a:not(:hover) {
    transition: .8s;
}

.button-social-btn__img {
    border-radius: 50%;
}

.header-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header-btn {
    min-width: 200px;
    min-height: 60px;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.header-btn:focus {
    outline: none !important
}

.header-btn:hover {
    transform: scale(1.05);
    transition: .2s;
}

.header-btn:not(:hover) {
    transition: .8s;
}

.header-btn__yellow {
    background: #E8C300;
    border: 1px solid #E8C300;
    margin-right: 20px;
}

.header-btn__transparent {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}

.header-btn__link {
    color: #FFFFFF;
}

.scroll-down-btn {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 62px;
    height: 62px;
    cursor: pointer;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 83px;
}

.scroll-down-btn:hover {
    transform: scale(1.1);
    transition: .2s;
}

.scroll-down-btn:not(:hover) {
    transition: .8s;
}

/* -----------------------___HEADER END___---------------------------- */

/* ----------------------___ COMMON STILES___--------------------- */

.section-bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-container {
    display: flex;
    align-self: center;
    min-height: 675px;
}

.section__content {
    width: 50%;
    position: relative;
}

.section__content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 580px;
}

.section-title {
    position: relative;
    display: block;
    font-family: 'Banny Bold Round';
    font-size: 36px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 45px 0;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5.11px;
    border-radius: 5px;
    background: #E8C300;
    margin: auto;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
}

.content-text-bold {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
}

.content-text-bold p {
    margin: 0 0 30px 0;
}

.content-text-normal {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.section__photo {
    width: 50%;
    text-align: center;
    position: relative;
}

.section-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schedule {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Open Sans;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

/* ----------------------___ SECTON OUR TEAM START___--------------------- */

.our-team {
    background-image: url("../img/specialty-bg.jpg");
}

.section__head {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    margin: 0 auto;
}

.section-title-white {
    color: #fff;
}

/* ----------------------___ SECTON BOOKING START___--------------------- */

.booking {
    position: relative;
}

.booking__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 580px;
}

.main-form {
    display: flex;
    justify-content: center;
}

.form__input {
    width: 278px;
    height: 60px;
    margin: 5px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 1.36;
    padding: 0 20px;
    color: rgba(51, 51, 51, 0.5);
}

.confirm-button-btn {
    width: 566px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background: #E8C300;
    margin-top: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.confirm-button-btn:focus {
    outline: none !important
}

.confirm-button-btn:hover {
    transform: scale(1.005);
    transition: .2s;
}

.confirm-button-btn:not(:hover) {
    transition: .8s;
}

.confirm-button {
    text-align: center;
}

/* ----------------------___ SECTOIN SPECIALTIES START___--------------------- */

.specialties {
    background-image: url("../img/specialties-bg.jpg");
}

/* ----------------------___ SECTON MENU START___--------------------- */

.rest-menu {
    position: relative;
}

.rest-menu__description {
    text-align: center;
    min-width: 580px;
    color: #000;
}

.rest-menu__description-common {
    width: 550px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
    margin: 0 auto;
    margin-top: 100px;
}

.rest-menu__nav {
    text-align: center;
    margin: 50px 0;
}

.rest-menu__nav ul {
    list-style: none;
}

.rest-menu__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.rest-menu__nav-item {
    position: relative;
    width: 120px;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
}

.rest-menu__nav-item a:hover {
    font-size: 13px;
    transition: .2s;
}

.rest-menu__nav-item a:not(:hover) {
    transition: .8s;
}

.rest-menu__nav-list li+li::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 0px;
    left: -24px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    transform: rotate(90deg);
}

.rest-menu__list-container {
    display: flex;
    align-self: center;
    margin-bottom: 62px;
}

.rest-menu__list-container-col {
    width: 33.33%;
    position: relative;
    font-family: 'Banny Bold Round';
    font-size: 18px;
    line-height: 1;
    color: #333333;
}

.rest-menu-wrapper {
    margin-bottom: 38px;
}

.rest-menu__item-cont {
    display: flex;
    padding: 0 10%;
}

.rest-menu__item-price {
    margin-left: 0 10%;
    text-align: center;
}

.rest-menu__item-description {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.29;
    color: rgba(67, 62, 62, 0.7);
    padding: 0 10%;
}

/* ----------------------___ SECTON PRIVATE EVENTS START___--------------------- */

.private {
    background-image: url("../img/privat-bg.jpg");
    background-size: cover;
    position: relative;
}

.private__photo {
    width: 50%;
    text-align: center;
    position: relative;
}

.private-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.private-schedule {
    color: rgba(255, 255, 255, 0.5);
}

.private-photo__container {
    display: flex;
    justify-content: space-between;
}

.private-photo__items {
    width: 25%;
    text-align: center;
    background-size: cover;
    background-position: bottom;
    height: 360px;
}

.private-photo__items_1 {
    background-image: url("../img/PE_photo_1.jpg");
}

.private-photo__items_2 {
    background-image: url("../img/PE_photo_2.jpg");
}

.private-photo__items_3 {
    background-image: url("../img/PE_photo_3.jpg");
}

.private-photo__items_4 {
    background-image: url("../img/PE_photo_4.jpg");
}

/* ----------------------___ SECTON CONTACTS START___--------------------- */

.form-container {
    margin-bottom: 100px;
}

.form-first-row {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.form-first-row__item {
    text-align: center;
}

.form-first-row__input {
    width: 419px;
    height: 60px;
    margin: 5px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 1.36;
    padding: 0 20px;
    color: rgba(51, 51, 51, 0.5);
}

.textarea-container {
    text-align: center;
}

.textarea {
    width: 1280px;
    min-height: 120px;
    resize: none;
    margin: 5px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 1.36;
    padding: 20px;
    color: rgba(51, 51, 51, 0.5);
}

.confirm-button-btn-contact {
    width: 640px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background: #E8C300;
    margin-top: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    color: #FFFFFF;
    cursor: pointer;
}

.confirm-button-btn:focus {
    outline: none !important
}

.confirm-button-btn:hover {
    transform: scale(1.005);
    transition: .2s;
}

.confirm-button-btn:not(:hover) {
    transition: .8s;
}

.contact__button-social-container {
    display: flex;
    justify-content: center;
}

.contact__button-social-items {
    width: 640px;
}

.contact__social-item {
    /* background-color: cadetblue; */
    max-width: 640px;
    display: flex;
    justify-content: space-around;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    color: rgba(51, 51, 51, 0.5);
}

.contact__social-item-common {
    align-self: center;
    margin-left: 10px;
}

.contact__social-item-adress {
    position: relative;
}

.contact__social-item-adress::before {
    content: "";
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -30px;
    bottom: -7px;
}

.contact__social-item-tel {
    position: relative;
}

.contact__social-item-tel::before {
    content: "";
    background-image: url('../img/untitled.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -30px;
    bottom: -9px;
}

.contact__social-item-email {
    position: relative;
}

.contact__social-item-email::before {
    content: "";
    background-image: url('../img/envelop.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -30px;
    bottom: -12px;
}

/* ----------------------___ FOOTER___--------------------- */

.footer {
    flex: 0 0 auto;
    min-height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.copiright {
    align-self: center;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.5);
}

/* ----------------------___ ADAPTIVE___--------------------- */

@media (max-width: 1220px) {
    .section-img {
        width: calc(729px*0.75);
        height: calc(575px*0.75);
    }
    .form__input {
        width: 240px;
    }
    .confirm-button-btn {
        width: 490px;
    }
    .rest-menu__item-cont {
        font-size: 10px;
    }
    .private-img {
        width: calc(730px*0.75);
        height: calc(575px*0.75);
    }
    .form-first-row__input {
        width: 326px;
        height: 60px;
    }
    .textarea {
        width: 1000px;
        min-height: 120px;
    }
    .confirm-button-btn-contact {
        width: 500px;
        height: 60px;
    }
    .contact__button-social-items {
        width: 500px;
    }
    .contact__social-item {
        max-width: 640px;
        font-size: 10px;
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
    .hungry-title {
        font-size: 80px;
        max-width: 500px;
        margin: 0 auto;
    }
    .header-buttons {
        margin-top: 80px;
    }
    .hungry-title::after {
        top: 220px;
    }
    .section-container {
        flex-wrap: wrap;
        min-height: 300px;
    }
    .private-section__container {
        min-height: 550px;
    }
    .content-text-bold p {
        margin: 0 0 0 0;
    }
    .section__content {
        width: 100%;
    }
    .section__photo {
        width: 100%;
    }
    .section-img {
        position: initial;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    .scroll-down-btn {
        bottom: 30px;
    }
    .section__content-container, .booking__content-wrapper {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: initial;
        transform: translate(0, 0);
        text-align: center;
        min-width: fit-content;
        padding: 40px;
    }
    .booking__photo {
        display: none;
    }
    .rest-menu-wrapper {
        margin-bottom: 5px;
    }
    .schedule {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    .rest-menu__item-cont {
        font-size: 10px;
    }
    .rest-menu__item-description {
        font-size: 6px;
    }
    .rest-menu__item-price {
        margin-left: 20px;
    }
    .private-photo__container {
        flex-direction: column;
    }
    .private-photo__items {
        width: 100%;
        min-height: 500px;
        margin: 2px;
    }
    .form-first-row {
        flex-direction: column;
    }
    .form-first-row__input {
        width: 50%;
        height: 60px;
    }
    .textarea {
        width: 50%;
        min-height: 120px;
    }
    .contact__button-social-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }
    .confirm-button-btn-contact {
        width: 100%;
        height: 60px;
    }
    .contact__button-social-items {
        width: 80%;
    }
    .contact__social-item {
        font-size: 10px;
        flex-direction: column;
    }
    .contact__social-item-common {
        margin: 12px 0;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .hungry-title {
        font-size: 60px;
        max-width: 400px;
        margin: 0 auto;
    }
    .rest-menu__list-container {
        flex-direction: column;
    }
    .rest-menu__list-container-col {
        width: 100%;
        text-align: center;
    }
    .rest-menu__item-cont {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .rest-menu__description-common {
        margin-top: 10px;
    }
    .rest-menu__nav {
        margin: 20px 0;
    }
    .rest-menu__item-description {
        font-size: 6px;
    }
    .rest-menu__item-price {
        margin-left: 20px;
    }
    .private-img {
        width: calc(730px*0.5);
        height: calc(575px*0.5);
    }
}

@media (max-width: 800px) {
    .hungry-title {
        font-size: 60px;
        max-width: 400px;
        margin: 0 auto;
    }
    .menu-item {
        display: inline-block;
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header::before {
        top: 80px;
    }
    .menu-item-bamper {
        display: none;
    }
    @media (max-width: 640px) {
        .header__maincontent {
            position: relative;
        }
        .header__maincontent--social {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 190px;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .header__maincontent--title {
            margin-top: 170px;
        }
        .hungry-title::after {
            top: 130px;
        }
        .button-social-btn__link {
            margin: 20px;
        }
        .header__maincontent--social a+a {
            padding-top: 0;
        }
        .header__maincontent--time {
            top: 400px;
            bottom: 0;
            right: 0;
            left: 0;
            transform: translate(-50%);
            padding: 0;
            writing-mode: horizontal-tb;
            -webkit-transform: rotate(0deg);
        }
        .header-buttons {
            margin-top: 100px;
        }
        .scroll-down-btn {
            display: none;
        }
        .section__content-container {
            padding: 5px 40px;
        }
        .section-img {
            width: calc(729px*0.5);
            height: calc(575px*0.5);
        }
        .booking__content-wrapper {
            padding: 5px;
        }
        .form__input {
            width: 200px;
        }
        .confirm-button-btn {
            width: 410px;
        }
        .rest-menu__nav-list {
            flex-wrap: wrap;
        }
        .rest-menu__nav-item {
            position: relative;
            width: 300px;
            height: 30px;
        }
        .rest-menu__nav-list li+li::after {
            display: none;
        }
        .rest-menu__description {
            min-width: 300px;
        }
        .rest-menu__description-common {
            width: 100%;
            padding: 0 20px;
        }
        .rest-menu__list-container {
            margin-bottom: 10px;
        }
        .private__photo {
            width: 100%;
        }
        .private-img {
            width: calc(730px*0.3);
            height: calc(575px*0.3);
        }
        .private-schedule {
            bottom: 10px;
            left: 50%;
        }
        .form-first-row__input {
            width: 80%;
            height: 40px;
        }
        .textarea {
            width: 80%;
            min-height: 90px;
        }
    }
    @media (max-width: 520px) {
        .menu-list {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .menu-item {
            width: 200px;
        }
        .header__maincontent--title {
            height: 250px;
            margin-top: 20px;
        }
        .section-img {
            width: calc(729px*0.4);
            height: calc(575px*0.4);
        }
        .about__content-container {
            min-width: 350px;
        }
        .about__content-title {
            font-size: 30px;
            top: 20px;
        }
        .about__content-title::after {
            top: 60px;
        }
        .about__content-text-bold {
            font-size: 14px;
        }
        .about__content-text-normal {
            font-size: 12px;
        }
    }
    @media (max-width: 460px) {
        .menu-item {
            width: 200px;
            height: 70px;
        }
        .menu-item a {
            font-size: 5px;
        }
        .header::before {
            display: none;
        }
        .about__content-container {
            min-width: 320px;
        }
        .header-btn {
            min-width: 150px;
            min-height: 60px;
        }
        .form__input {
            width: 160px;
            height: 40px;
            font-size: 10px;
        }
        .confirm-button-btn {
            width: 330px;
            height: 40px;
            font-size: 10px;
        }
    }
    @media (max-width: 400px) {
        .menu-item {
            width: 140px;
            height: 50px;
        }
        .header-btn {
            min-width: 120px;
            min-height: 60px;
        }
        .section-title {
            font-size: 30px;
        }
        .form__input {
            width: 140px;
            height: 40px;
            font-size: 10px;
        }
        .confirm-button-btn {
            width: 290px;
            height: 40px;
            font-size: 10px;
        }
    }